ul li a:visited {
 color           : darkgray; /* Change color after a link has been clicked */
 text-decoration : none;
}

ul li a:hover {
 color           : whitesmoke;
 text-decoration : none;
}

ul li a:active {
 color           : saddlebrown; /* Color change during the click action */
 text-decoration : none;
}

ul li a {
 color       : green;
 font-weight : bold;
}

/* Solid circle for top-level */
ul > li::before {
 color        : transparent;
 content      : "\25CF"; /* Unicode for solid circle */
 font-size    : 0px;
 list-style   : none;
 margin-right : 0px;
}

/* Hollow circle for indented levels */
ul ul li::before {
 color        : transparent;
 content      : "\25E6"; /* Unicode for hollow circle */
 font-size    : 0px;
 margin-right : 0px;
}

nav ul {
 margin-top : 22px;
}

nav ul li {
 margin : 0px 0px;
}

nav a {
 padding : 1px 11px;
}

.special-p {
 font-size     : 11px;
 margin-bottom : 0px; /* Adds spacing between paragraphs */
}

em {
 color       : green;
 font-style  : normal;
 font-weight : bold;
}

ul {
 list-style : none;
}

ul li a.active {
 background-color : transparent;
 color            : saddlebrown;
}

ul li a.active i {
 color : saddlebrown;
}

ul, li, p {
 color          : green;
 font-size      : 1.2em;
 line-height    : 1.5;
 text-transform : uppercase;
}

.author-text ul li a:hover {
 color : whitesmoke;
}

#ContactForm {
 padding-left : 11px;
}

#ContactForm input[type="text"],
#ContactForm input[type="email"],
#ContactForm textarea {
 border : 2px solid gray;
}

.form-group {
 color       : gray;
 font-family : "Arial", sans-serif;
 font-size   : 14px;
}

.swal2-confirm {
 background-color : saddlebrown;
 color            : #FF5733;
}

.swal2-popup {
 background-color : #023020;
}

.swal2-html-container {
 color : #28a745;
}

p {
 color : #FAF9F6;
}

.white-on-hover:hover {
 color : whitesmoke;
}

.nav-text {
 font-size : 11px;
}
